.visualizer-container {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  rect {
    animation: pulsate 1s ease-in-out infinite;
  }
  @keyframes pulsate {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(1.5);
    }
    100% {
      transform: scaleY(1);
    }
  }