body{
  display: flex!important;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #abadd4;
  border-radius: 30px;
  padding: 5px;
  width: 300px;
  background-color: #f6f6ff;
}

.message-input {
  border: none;
  flex-grow: 1;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  background-color: transparent;
}

.send-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  outline: none;
}

.send-button svg {
  fill: #5d3ebc;
}

.send-button:hover svg {
  fill: #7d5edf;
}

.floating-chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 390px;
  height: 574px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999999;
}

.floating-chat-button {
  width: 60px;
  height: 60px;
  background: linear-gradient(145deg, #42409e, #9033be);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.chat-window {
  width: 390px;
  height: 574px;
  background: linear-gradient(90deg, #ececf5 0%, #f5ecf9 100%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  background: linear-gradient(90deg, #3c419a 0%, #9332bf 100%);
  border-radius: 25px 25px 0 0;
}

.chat-header h4 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.chat-header button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.chat-messages {
  flex: 1;
  padding: 23px;
  overflow-y: auto;
  position: relative;
}

.chat-message {
  display: flex!important;
  margin-bottom: 20px;
  padding: 10px 12px;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  position: relative;
}

.chat-message.me {
  align-self: flex-end;
  background: linear-gradient(90deg, #3c419a 0%, #9332bf 100%);
  color: #ffffff;
  margin-left: 30%;
  border-radius: 25px 25px 0px 25px;
}

.chat-message.them {
  max-width: 70%;
  align-self: flex-start;
  background: #ffffff;
  border-radius: 25px 25px 25px 0px;
  display: flex;
  align-items: flex-end;
}

.chat-message.them .avatar {
  width: 32px;
  height: 32px;
  margin-right: 9px;
  border-radius: 50%;
}

.chat-message.them .message-content {
  background: #ffffff;
  padding: 10px 12px;
  border-radius: 100px 999px 999px 0px;
  color: #343333;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 25px;
}

.chat-input input {
  flex: 1;
  padding: 8px 12px;
  background: #f6f6ff;
  border-radius: 9999px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #333333;
  outline: none;
}


.floating-chat-button-call {
  width: 48px;
  height: 48px;
  background: linear-gradient(90deg, #3c419a 0%, #9332bf 100%);
  border: none;
  margin-left: 8px;
  border-radius: 9999px;
  cursor: pointer;
  position: relative;
}

.floating-chat-button-call::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 16px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}